In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
# Store filepath in a variable
df = "Resources/testCleaning.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
df = pd.read_csv(df, encoding="ISO-8859-1")
# df_train = pd.read_csv(df_train, index_col=False, encoding="ISO-8859-1")

In [4]:
# Show just the header
df.head()

,Current Loan Amount,Term,Credit Scores,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Annual Debt,Debt to Income Ratio,...,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Utilization Rate Good/Bad,Utilization Rate,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Loan Status
0,6966,Short Term,673.0,1.0,Home Mortgage,54736.0,Home Improvements,839.28,10071.36,0.18,...,16.4,6,0,Very Bad UR,0.76,2942,3881,0.0,0.0,NaN
1,511,Short Term,747.0,1.0,Rent,18389.0,other,65.43,785.16,0.04,...,12.7,4,0,NaN,NaN,0,0,NaN,0.0,NaN
2,701,Short Term,718.0,1.0,Rent,19040.0,Debt Consolidation,196.74,2360.88,0.12,...,11.6,4,0,NaN,NaN,0,0,0.0,0.0,NaN
3,976,Short Term,718.0,10.0,Home Mortgage,59536.0,other,1215.53,14586.36,0.25,...,27.1,14,0,Bad UR,0.54,28791,53218,0.0,0.0,NaN
4,976,Short Term,739.0,1.0,Home Mortgage,63414.0,Other,1939.41,23272.92,0.37,...,17.4,6,0,Very Bad UR,1.00,117572,117809,0.0,0.0,NaN

In [5]:
df.dtypes

Current Loan Amount            int64
Term                          object
Credit Scores                float64
Years in current job         float64
Home Ownership                object
Annual Income                float64
Purpose                       object
Monthly Debt                 float64
Annual Debt                  float64
Debt to Income Ratio         float64
Debt to Income Ratio G/B      object
Years of Credit History      float64
Number of Open Accounts        int64
Number of Credit Problems      int64
Utilization Rate Good/Bad     object
Utilization Rate             float64
Current Credit Balance         int64
Maximum Open Credit            int64
Bankruptcies                 float64
Tax Liens                    float64
Loan Status                  float64
dtype: object

In [6]:
df.fillna(df.mean(), inplace=True)
df.head(10)

<ipython-input-6-8ae6ea519571>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)

,Current Loan Amount,Term,Credit Scores,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Annual Debt,Debt to Income Ratio,...,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Utilization Rate Good/Bad,Utilization Rate,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Loan Status
0,6966,Short Term,673.000000,1.00000,Home Mortgage,54736.00000,Home Improvements,839.28,10071.36,0.180000,...,16.4,6,0,Very Bad UR,0.760000,2942,3881,0.000000,0.0,NaN
1,511,Short Term,747.000000,1.00000,Rent,18389.00000,other,65.43,785.16,0.040000,...,12.7,4,0,NaN,0.565216,0,0,0.119104,0.0,NaN
2,701,Short Term,718.000000,1.00000,Rent,19040.00000,Debt Consolidation,196.74,2360.88,0.120000,...,11.6,4,0,NaN,0.565216,0,0,0.000000,0.0,NaN
3,976,Short Term,718.000000,10.00000,Home Mortgage,59536.00000,other,1215.53,14586.36,0.250000,...,27.1,14,0,Bad UR,0.540000,28791,53218,0.000000,0.0,NaN
4,976,Short Term,739.000000,1.00000,Home Mortgage,63414.00000,Other,1939.41,23272.92,0.370000,...,17.4,6,0,Very Bad UR,1.000000,117572,117809,0.000000,0.0,NaN
5,977,Short Term,715.697929,1.00000,Rent,71894.96555,Other,657.07,7884.84,0.173328,...,15.8,8,0,Very Bad UR,0.860000,27161,31545,0.000000,0.0,NaN
6,978,Short Term,718.000000,5.98115,Home Mortgage,74313.00000,major_purchase,1226.16,14713.92,0.200000,...,34.8,10,0,Very Bad UR,0.940000,16547,17603,0.000000,0.0,NaN
7,978,Short Term,680.000000,5.98115,Rent,39699.00000,other,840.29,10083.48,0.250000,...,41.8,6,0,Bad UR,0.580000,4263,7401,0.000000,0.0,NaN
8,979,Short Term,715.697929,3.00000,Home Mortgage,71894.96555,other,455.78,5469.36,0.173328,...,18.4,14,0,Very Bad UR,0.770000,14548,18992,0.000000,0.0,NaN
9,979,Short Term,679.000000,10.00000,Home Mortgage,68495.00000,Take a Trip,884.73,10616.76,0.160000,...,19.2,9,0,Very Bad UR,0.830000,10745,12914,0.000000,0.0,NaN

In [7]:
df['Credit Scores'] = df['Credit Scores'].astype('int64')
df.head(10)

,Current Loan Amount,Term,Credit Scores,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Annual Debt,Debt to Income Ratio,...,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Utilization Rate Good/Bad,Utilization Rate,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Loan Status
0,6966,Short Term,673,1.00000,Home Mortgage,54736.00000,Home Improvements,839.28,10071.36,0.180000,...,16.4,6,0,Very Bad UR,0.760000,2942,3881,0.000000,0.0,NaN
1,511,Short Term,747,1.00000,Rent,18389.00000,other,65.43,785.16,0.040000,...,12.7,4,0,NaN,0.565216,0,0,0.119104,0.0,NaN
2,701,Short Term,718,1.00000,Rent,19040.00000,Debt Consolidation,196.74,2360.88,0.120000,...,11.6,4,0,NaN,0.565216,0,0,0.000000,0.0,NaN
3,976,Short Term,718,10.00000,Home Mortgage,59536.00000,other,1215.53,14586.36,0.250000,...,27.1,14,0,Bad UR,0.540000,28791,53218,0.000000,0.0,NaN
4,976,Short Term,739,1.00000,Home Mortgage,63414.00000,Other,1939.41,23272.92,0.370000,...,17.4,6,0,Very Bad UR,1.000000,117572,117809,0.000000,0.0,NaN
5,977,Short Term,715,1.00000,Rent,71894.96555,Other,657.07,7884.84,0.173328,...,15.8,8,0,Very Bad UR,0.860000,27161,31545,0.000000,0.0,NaN
6,978,Short Term,718,5.98115,Home Mortgage,74313.00000,major_purchase,1226.16,14713.92,0.200000,...,34.8,10,0,Very Bad UR,0.940000,16547,17603,0.000000,0.0,NaN
7,978,Short Term,680,5.98115,Rent,39699.00000,other,840.29,10083.48,0.250000,...,41.8,6,0,Bad UR,0.580000,4263,7401,0.000000,0.0,NaN
8,979,Short Term,715,3.00000,Home Mortgage,71894.96555,other,455.78,5469.36,0.173328,...,18.4,14,0,Very Bad UR,0.770000,14548,18992,0.000000,0.0,NaN
9,979,Short Term,679,10.00000,Home Mortgage,68495.00000,Take a Trip,884.73,10616.76,0.160000,...,19.2,9,0,Very Bad UR,0.830000,10745,12914,0.000000,0.0,NaN

In [8]:
df['Years in current job'] = df['Years in current job'].astype('int64')
df['Annual Income'] = df['Annual Income'].astype('int64')
df['Bankruptcies'] = df['Bankruptcies'].astype('int64')
df['Tax Liens'] = df['Tax Liens'].astype('int64')
df['Debt to Income Ratio'] = df['Debt to Income Ratio'].astype('float64')
df['Utilization Rate'] = df['Utilization Rate'].astype('float64')

In [9]:
# df_train.info()
df.dtypes

Current Loan Amount            int64
Term                          object
Credit Scores                  int64
Years in current job           int64
Home Ownership                object
Annual Income                  int64
Purpose                       object
Monthly Debt                 float64
Annual Debt                  float64
Debt to Income Ratio         float64
Debt to Income Ratio G/B      object
Years of Credit History      float64
Number of Open Accounts        int64
Number of Credit Problems      int64
Utilization Rate Good/Bad     object
Utilization Rate             float64
Current Credit Balance         int64
Maximum Open Credit            int64
Bankruptcies                   int64
Tax Liens                      int64
Loan Status                  float64
dtype: object

In [10]:
df.head(20)

,Current Loan Amount,Term,Credit Scores,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Annual Debt,Debt to Income Ratio,...,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Utilization Rate Good/Bad,Utilization Rate,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Loan Status
0,6966,Short Term,673,1,Home Mortgage,54736,Home Improvements,839.28,10071.36,0.180000,...,16.4,6,0,Very Bad UR,0.760000,2942,3881,0,0,NaN
1,511,Short Term,747,1,Rent,18389,other,65.43,785.16,0.040000,...,12.7,4,0,NaN,0.565216,0,0,0,0,NaN
2,701,Short Term,718,1,Rent,19040,Debt Consolidation,196.74,2360.88,0.120000,...,11.6,4,0,NaN,0.565216,0,0,0,0,NaN
3,976,Short Term,718,10,Home Mortgage,59536,other,1215.53,14586.36,0.250000,...,27.1,14,0,Bad UR,0.540000,28791,53218,0,0,NaN
4,976,Short Term,739,1,Home Mortgage,63414,Other,1939.41,23272.92,0.370000,...,17.4,6,0,Very Bad UR,1.000000,117572,117809,0,0,NaN
5,977,Short Term,715,1,Rent,71894,Other,657.07,7884.84,0.173328,...,15.8,8,0,Very Bad UR,0.860000,27161,31545,0,0,NaN
6,978,Short Term,718,5,Home Mortgage,74313,major_purchase,1226.16,14713.92,0.200000,...,34.8,10,0,Very Bad UR,0.940000,16547,17603,0,0,NaN
7,978,Short Term,680,5,Rent,39699,other,840.29,10083.48,0.250000,...,41.8,6,0,Bad UR,0.580000,4263,7401,0,0,NaN
8,979,Short Term,715,3,Home Mortgage,71894,other,455.78,5469.36,0.173328,...,18.4,14,0,Very Bad UR,0.770000,14548,18992,0,0,NaN
9,979,Short Term,679,10,Home Mortgage,68495,Take a Trip,884.73,10616.76,0.160000,...,19.2,9,0,Very Bad UR,0.830000,10745,12914,0,0,NaN
10,980,Short Term,748,10,Home Mortgage,41954,Home Improvements,819.50,9834.00,0.230000,...,16.0,11,0,Bad UR,0.510000,13727,26655,0,0,NaN
11,980,Short Term,715,10,Rent,71894,other,83.42,1001.04,0.173328,...,11.8,3,0,Bad UR,0.520000,3192,6173,0,0,NaN
12,981,Short Term,741,3,Rent,25906,Debt Consolidation,487.69,5852.28,0.230000,...,20.0,4,0,Very Bad UR,0.900000,1860,2062,0,0,NaN
13,983,Short Term,714,5,Home Mortgage,44959,other,338.32,4059.84,0.090000,...,11.4,9,0,Very Bad UR,0.890000,8182,9245,0,0,NaN
14,983,Short Term,681,6,Rent,51132,Take a Trip,1274.03,15288.36,0.300000,...,30.3,17,0,Very Bad UR,0.920000,13894,15135,0,0,NaN
15,983,Short Term,742,10,Home Mortgage,54065,Debt Consolidation,649.68,7796.16,0.140000,...,26.3,12,0,Very Bad UR,0.970000,23575,24379,0,0,NaN
16,984,Short Term,708,5,Rent,23611,Take a Trip,129.86,1558.32,0.070000,...,32.2,2,1,Very Bad UR,0.940000,3902,4133,1,0,NaN
17,985,Short Term,643,3,Home Mortgage,35474,other,676.97,8123.64,0.230000,...,16.8,6,0,Excellent UR,0.210000,1181,5707,0,0,NaN
18,988,Short Term,722,2,Own Home,44447,other,966.71,11600.52,0.260000,...,12.8,10,0,Very Bad UR,0.790000,14966,18968,0,0,NaN
19,988,Short Term,714,5,Rent,26679,other,582.48,6989.76,0.260000,...,20.3,19,0,Excellent UR,0.290000,14940,51165,0,0,NaN

In [11]:
df.isnull().sum(axis = 0)

Current Loan Amount              0
Term                             0
Credit Scores                    0
Years in current job             0
Home Ownership                   0
Annual Income                    0
Purpose                          0
Monthly Debt                     0
Annual Debt                      0
Debt to Income Ratio             0
Debt to Income Ratio G/B        34
Years of Credit History          0
Number of Open Accounts          0
Number of Credit Problems        0
Utilization Rate Good/Bad      175
Utilization Rate                 0
Current Credit Balance           0
Maximum Open Credit              0
Bankruptcies                     0
Tax Liens                        0
Loan Status                  20592
dtype: int64

In [12]:
df.shape

(20592, 21)

In [13]:
df = df.dropna()

In [14]:
df.isnull().sum(axis=0)

Current Loan Amount          0.0
Term                         0.0
Credit Scores                0.0
Years in current job         0.0
Home Ownership               0.0
Annual Income                0.0
Purpose                      0.0
Monthly Debt                 0.0
Annual Debt                  0.0
Debt to Income Ratio         0.0
Debt to Income Ratio G/B     0.0
Years of Credit History      0.0
Number of Open Accounts      0.0
Number of Credit Problems    0.0
Utilization Rate Good/Bad    0.0
Utilization Rate             0.0
Current Credit Balance       0.0
Maximum Open Credit          0.0
Bankruptcies                 0.0
Tax Liens                    0.0
Loan Status                  0.0
dtype: float64

In [16]:
df.to_csv('df_test.csv', index=False)