In [29]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Models
from sklearn.linear_model import LogisticRegression

In [30]:
clean_train_df = pd.read_csv("df_train.csv")

In [31]:
clean_train_df.head()

,Current Loan Amount,Term,Credit Scores,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Annual Debt,Debt to Income Ratio,...,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Utilization Rate Good/Bad,Utilization Rate,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Loan Status
0,491,Short Term,715,1,Home Mortgage,72254,Take a Trip,19.67,236.04,0.173108,...,27.4,3,0,Excellent UR,0.040000,43,1168,0,0,1
1,701,Short Term,718,1,Rent,19040,Debt Consolidation,196.74,2360.88,0.120000,...,11.6,4,0,Very Bad UR,0.563226,0,0,0,0,1
2,885,Short Term,731,3,Rent,11801,Educatiol Expenses,164.23,1970.76,0.170000,...,14.4,4,0,Bad UR,0.660000,3033,4623,0,0,0
3,975,Short Term,713,6,Rent,24378,Medical Bills,692.73,8312.76,0.340000,...,7.1,10,0,Bad UR,0.600000,4403,7313,0,0,1
4,975,Short Term,694,10,Home Mortgage,59599,Take a Trip,1157.22,13886.64,0.230000,...,27.2,12,0,Bad UR,0.690000,17869,25859,0,0,0

In [32]:
clean_train_df2 = clean_train_df.rename(columns = {"Loan Status":"Target"})

clean_train_df2

,Current Loan Amount,Term,Credit Scores,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Annual Debt,Debt to Income Ratio,...,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Utilization Rate Good/Bad,Utilization Rate,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Target
0,491,Short Term,715,1,Home Mortgage,72254,Take a Trip,19.67,236.04,0.173108,...,27.4,3,0,Excellent UR,0.040000,43,1168,0,0,1
1,701,Short Term,718,1,Rent,19040,Debt Consolidation,196.74,2360.88,0.120000,...,11.6,4,0,Very Bad UR,0.563226,0,0,0,0,1
2,885,Short Term,731,3,Rent,11801,Educatiol Expenses,164.23,1970.76,0.170000,...,14.4,4,0,Bad UR,0.660000,3033,4623,0,0,0
3,975,Short Term,713,6,Rent,24378,Medical Bills,692.73,8312.76,0.340000,...,7.1,10,0,Bad UR,0.600000,4403,7313,0,0,1
4,975,Short Term,694,10,Home Mortgage,59599,Take a Trip,1157.22,13886.64,0.230000,...,27.2,12,0,Bad UR,0.690000,17869,25859,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53266,35868,Long Term,662,1,Home Mortgage,111191,Debt Consolidation,2081.12,24973.44,0.220000,...,17.5,16,0,Very Bad UR,0.850000,29676,34831,0,0,0
53267,35872,Short Term,744,2,Home Mortgage,112739,Debt Consolidation,807.96,9695.52,0.090000,...,21.2,10,0,Bad UR,0.660000,18775,28490,0,0,1
53268,35872,Long Term,716,3,Home Mortgage,84042,Debt Consolidation,2353.17,28238.04,0.340000,...,28.5,15,0,Bad UR,0.610000,48481,80002,0,0,1
53269,35872,Long Term,713,10,Home Mortgage,117864,Debt Consolidation,2327.80,27933.60,0.240000,...,17.3,17,0,Bad UR,0.590000,33277,56690,0,0,1
53270,35875,Short Term,721,6,Home Mortgage,423920,Debt Consolidation,6005.53,72066.36,0.170000,...,31.4,21,0,Very Bad UR,0.880000,96113,109344,0,0,1

In [33]:
clean_train_df2.describe()

,Current Loan Amount,Credit Scores,Years in current job,Annual Income,Monthly Debt,Annual Debt,Debt to Income Ratio,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Utilization Rate,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Target
count,53271.000000,53271.000000,53271.000000,5.327100e+04,53271.000000,53271.000000,53271.000000,53271.000000,53271.000000,53271.000000,53271.000000,53271.000000,5.327100e+04,53271.000000,53271.000000,53271.000000
mean,14125.237334,715.683374,5.926789,7.227202e+04,969.818200,11637.818397,0.173142,18.188356,11.113364,0.165156,0.563213,15426.821892,3.317730e+04,0.114377,0.028834,0.726268
std,8418.383506,24.965851,3.426688,5.681228e+04,630.190778,7562.289338,0.070210,7.019079,4.986448,0.479952,0.239485,18977.351923,2.282151e+05,0.344827,0.260385,0.445877
min,491.000000,585.000000,1.000000,5.107000e+03,0.000000,0.000000,0.000000,3.600000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7820.000000,710.000000,3.000000,4.958000e+04,538.980000,6467.760000,0.130000,13.500000,8.000000,0.000000,0.390000,5917.000000,1.244750e+04,0.000000,0.000000,0.000000
50%,12118.000000,715.000000,6.000000,7.225400e+04,854.910000,10258.920000,0.173108,16.900000,10.000000,0.000000,0.570000,10993.000000,2.117700e+04,0.000000,0.000000,1.000000
75%,19630.000000,734.000000,10.000000,7.771150e+04,1262.590000,15151.080000,0.210000,21.700000,14.000000,0.000000,0.750000,19269.500000,3.550950e+04,0.000000,0.000000,1.000000
max,35875.000000,751.000000,10.000000,8.713547e+06,9060.850000,108730.200000,0.400000,60.500000,76.000000,15.000000,1.480000,854602.000000,3.628434e+07,6.000000,15.000000,1.000000

In [35]:
from sklearn.datasets import make_blobs
X, y = make_blobs(centers=2, random_state=42)
print(f"Labels: {y[:10]}")
print(f"Data: {X[:10]}")

Labels: [0 1 0 1 1 0 1 1 0 0]
Data: [[-2.98837186  8.82862715]
 [ 5.72293008  3.02697174]
 [-3.05358035  9.12520872]
 [ 5.461939    3.86996267]
 [ 4.86733877  3.28031244]
 [-2.14780202 10.55232269]
 [ 4.91656964  2.80035293]
 [ 3.08921541  2.04173266]
 [-2.90130578  7.55077118]
 [-3.34841515  8.70507375]]

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [37]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [38]:
model.fit(X_train, y_train)

LogisticRegression()

In [39]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

predicted = model.predict(X_test)

# Score the predictions with mse and r2
mse = mean_squared_error(y_test, predicted)
mae = mean_absolute_error(y_test, predicted)
r2 = r2_score(y_test, predicted)

print(f"mean squared error (MSE): {mse}")
print(f"mean absolute error (MAE): {mae}")
print(f"R-squared (R2): {r2}")

mean squared error (MSE): 0.0
mean absolute error (MAE): 0.0
R-squared (R2): 1.0